Repository skredmi/order-list: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*{css,html}": "prettier --write",
  "*{js,jsx}": "eslint --fix"
}

setting eslint
  .eslintrc.json
  .prettierignore
Due: none

update readme
  README.md
  src/App.js
Due: eslint --fix

changed lintstaged
  .lintstagedrc.json
Due: none

changed in lintstaged file
  src/App.js
Due: eslint --fix

setting husky
  src/App.js
Due: eslint --fix

check husky
  .husky/pre-commit
  src/App.js
Due: eslint --fix

husky2
  .husky/pre-commit
  package-lock.json
  src/App.js
Due: eslint --fix

husky3
  .husky/pre-commit
Due: none

check husky
  .husky/pre-commit
Due: none

Push
  .husky/pre-commit
  package.json
Due: none

change pre-commit
  package-lock.json
  package.json
  src/App.js
Due: eslint --fix

change package.json
  package.json
Due: none

done header, filters
  sber_school.md
  src/App.css
  src/App.jsx
  src/components/App/App.css
  src/components/App/App.jsx
  src/components/modules/Filter/Filter.jsx
  src/components/modules/Filter/Filter.module.css
  src/components/modules/FilterContainer/FilterContainer.jsx
  src/components/modules/FilterDate/FilterDate.jsx
  src/components/modules/FilterDate/FilterDate.module.css
  src/components/modules/FilterDateContainer/FilterDateContainer.jsx
  src/components/modules/FilterStatus/FilterStatus.jsx
  src/components/modules/FilterStatus/FilterStatus.module.css
  src/components/modules/FilterStatusContainer/FilterStatusContainer.jsx
  src/components/modules/FilterSum/FilterSum.jsx
  src/components/modules/FilterSum/FilterSum.module.css
  src/components/modules/FilterSumContainer/FilterSumContainer.jsx
  src/components/modules/Filters/Filter.jsx
  src/components/modules/Filters/Filter.module.css
  src/components/modules/Header/Header.jsx
  src/components/modules/Header/Header.module.css
  src/components/modules/ThemeContext/ThemeContext.jsx
  src/components/modules/ThemeSwitcher/ThemeSwitcher.jsx
  src/components/modules/ThemeSwitcher/ThemeSwitcher.module.css
  src/components/modules/ThemeSwitcherContainer/ThemeSwitcherContainer.jsx
  src/components/pages/MainPage.jsx
  src/components/pages/MainPage.module.css
  src/components/shared/Button/Button.jsx
  src/components/shared/Button/Button.module.css
  src/components/shared/Checkbox/Checkbox.jsx
  src/components/shared/Checkbox/Checkbox.module.css
  src/components/shared/Dropdown/Dropdown.jsx
  src/components/shared/Dropdown/Dropdown.module.css
  src/components/shared/Icon/Icon.jsx
  src/components/shared/Icon/Icon.module.css
  src/components/shared/Input/Input.jsx
  src/components/shared/Input/Input.module.css
  src/index.css
  src/index.js
Due: prettier --write, eslint --fix

test eslint
  package-lock.json
  src/components/modules/Filter/Filter.jsx
Due: eslint --fix

test pre-commit
  package-lock.json
  package.json
Due: none

test pre commit
  src/components/modules/Filter/Filter.jsx
Due: eslint --fix

test husky
  src/index.js
Due: eslint --fix

add component table
  src/components/modules/ordersPage/components/Filter/Filter.jsx
  src/components/modules/ordersPage/components/Filter/Filter.module.css
  src/components/modules/ordersPage/components/FilterDate/FilterDate.module.css
  src/components/modules/ordersPage/components/FilterStatus/FilterStatus.jsx
  src/components/modules/ordersPage/components/FilterStatus/FilterStatus.module.css
  src/components/modules/ordersPage/components/FilterSum/FilterSum.module.css
  src/components/modules/ordersPage/components/Header/Header.jsx
  src/components/modules/ordersPage/components/Table/Table.jsx
  src/components/modules/ordersPage/components/Table/Table.module.css
  src/components/modules/ordersPage/components/TableBody/TableBody.jsx
  src/components/modules/ordersPage/components/TableBody/TableBody.module.css
  src/components/modules/ordersPage/components/TableFooter/TableFooter.jsx
  src/components/modules/ordersPage/components/TableFooter/TableFooter.module.css
  src/components/modules/ordersPage/components/TableHeader/TableHeader.jsx
  src/components/modules/ordersPage/components/TableHeader/TableHeader.module.css
  src/components/modules/ordersPage/components/TableRow/TableRow.jsx
  src/components/modules/ordersPage/components/TableRow/TableRow.module.css
  src/components/modules/ordersPage/mock/mock.js
  src/components/pages/MainPage.jsx
  src/components/shared/Button/Button.jsx
  src/components/shared/Button/Button.module.css
  src/components/shared/Input/Input.module.css
  src/index.css
Due: prettier --write, eslint --fix

add mock, styles for table body
  sber_school.md
  src/components/modules/ordersPage/components/Table/Table.module.css
  src/components/modules/ordersPage/components/TableBody/TableBody.jsx
  src/components/modules/ordersPage/components/TableBody/TableBody.module.css
  src/components/modules/ordersPage/components/TableCell/TableCell.jsx
  src/components/modules/ordersPage/components/TableCell/TableCell.module.css
  src/components/modules/ordersPage/components/TableHeader/TableHeader.jsx
  src/components/modules/ordersPage/components/TableHeader/TableHeader.module.css
  src/components/modules/ordersPage/components/TableHeaderCell/TableHeaderCell.jsx
  src/components/modules/ordersPage/components/TableHeaderCell/TableHeaderCell.module.css
  src/components/modules/ordersPage/components/TableRow/TableRow.jsx
  src/components/modules/ordersPage/components/TableRow/TableRow.module.css
  src/components/modules/ordersPage/mock/mock.js
  src/index.css
Due: prettier --write, eslint --fix

usecontext
  src/components/context/FilterContext/FilterContext.jsx
  src/components/modules/ordersPage/components/Filter/Filter.jsx
  src/components/modules/ordersPage/components/FilterContainer/FilterContainer.jsx
  src/components/modules/ordersPage/components/FilterDate/FilterDate.jsx
  src/components/modules/ordersPage/components/FilterDateContainer/FilterDateContainer.jsx
  src/components/modules/ordersPage/components/FilterStatus/FilterStatus.jsx
  src/components/modules/ordersPage/components/FilterSum/FilterSum.jsx
  src/components/modules/ordersPage/components/FilterSumContainer/FilterSumContainer.jsx
  src/components/pages/MainPage.jsx
  src/components/shared/Checkbox/Checkbox.jsx
Due: eslint --fix

added checkbox selection functionality
  src/components/context/FilterContext/FilterContext.jsx
  src/components/modules/ordersPage/components/FilterStatus/FilterStatus.jsx
Due: eslint --fix

delete filter containers
  src/components/modules/ordersPage/components/FilterStatusContainer/FilterStatusContainer.jsx
Due: eslint --fix

changes after review
  .eslintrc.json
  src/components/context/FilterContext/FilterContext.jsx
  src/components/modules/ordersPage/components/Filter/Filter.jsx
  src/components/modules/ordersPage/components/Filter/Filter.module.css
  src/components/modules/ordersPage/components/FilterDate/FilterDate.jsx
  src/components/modules/ordersPage/components/FilterDate/FilterDate.module.css
  src/components/modules/ordersPage/components/FilterStatus/FilterStatus.jsx
  src/components/modules/ordersPage/components/ThemeSwitcher/ThemeSwitcher.jsx
  src/components/shared/Input/Input.jsx
  src/components/shared/Searchbar/Searchbar.jsx
  src/components/shared/Searchbar/Searchbar.module.css
Due: prettier --write, eslint --fix

change in filtercontext component
  src/components/context/FilterContext/FilterContext.jsx
  src/components/modules/ordersPage/components/Filter/Filter.jsx
  src/components/modules/ordersPage/components/FilterDate/FilterDate.jsx
  src/components/modules/ordersPage/components/FilterStatus/FilterStatus.jsx
  src/components/modules/ordersPage/components/FilterSum/FilterSum.jsx
  src/components/modules/ordersPage/components/Header/Header.jsx
  src/components/modules/ordersPage/components/Table/Table.jsx
  src/components/modules/ordersPage/components/TableBody/TableBody.jsx
  src/components/modules/ordersPage/components/TableFooter/TableFooter.jsx
  src/components/modules/ordersPage/components/TableHeader/TableHeader.jsx
  src/components/pages/MainPage.jsx
Due: eslint --fix

create redux store
  package-lock.json
  package.json
  src/components/modules/ordersPage/components/Filter/Filter.jsx
  src/components/modules/ordersPage/components/FilterDate/FilterDate.jsx
  src/components/modules/ordersPage/components/TableHeaderCell/TableHeaderCell.jsx
  src/components/modules/ordersPage/components/TableHeaderCell/TableHeaderCell.module.css
  src/components/shared/Button/Button.module.css
  src/components/store/index.js
  src/components/store/reducers/index.js
  src/components/store/slices/filterSlice.js
  src/index.js
Due: prettier --write, eslint --fix

redux
  src/components/modules/ordersPage/components/Filter/Filter.jsx
  src/components/modules/ordersPage/components/FilterSum/FilterSum.jsx
  src/components/modules/ordersPage/components/TableHeaderCell/TableHeaderCell.jsx
  src/components/store/slices/filterSlice.js
  src/components/store/slices/orderSlice.js
Due: eslint --fix

fixed paddings
  src/modules/OrderTableBody/OrderTableBody.module.css
  src/modules/ThemeSwitcher/ThemeSwitcher.jsx
  src/shared/Input/Input.jsx
  src/shared/Searchbar/Searchbar.jsx
  src/shared/TableCell/TableCell.module.css
  src/shared/TableFooter/TableFooter.module.css
  src/shared/TableHeader/TableHeader.module.css
  src/shared/TableHeaderCell/TableHeaderCell.module.css
  src/shared/TableRow/TableRow.module.css
Due: prettier --write, eslint --fix

change paddings in table
  src/modules/OrderTableHeader/OrderTableHeader.jsx
  src/modules/OrderTableHeader/OrderTableHeader.module.css
  src/modules/OrderTableRow/OrderTableRow.jsx
  src/modules/OrderTableRow/OrderTableRow.module.css
  src/shared/TableCell/TableCell.module.css
  src/shared/TableHeader/TableHeader.module.css
  src/shared/TableHeaderCell/TableHeaderCell.module.css
  src/shared/TableRow/TableRow.module.css
Due: prettier --write, eslint --fix

change paddings in table v2
  src/shared/TableCell/TableCell.module.css
  src/shared/TableFooter/TableFooter.module.css
  src/shared/TableHeaderCell/TableHeaderCell.module.css
Due: prettier --write

change paddings in table v3
  src/modules/TableStatusCell/TableStatusCell.module.css
Due: prettier --write

change paddings in table v4
  src/shared/TableRow/TableRow.module.css
Due: prettier --write

transferring filter data and orders to redux
  sber_school.md
  src/modules/FilterStatus/FilterStatus.jsx
  src/shared/Checkbox/Checkbox.jsx
  src/store/slices/filters/filterSelector.js
  src/store/slices/filters/filterSlice.js
Due: eslint --fix

add filter orders with inputs
  sber_school.md
  src/modules/Filter/Filter.jsx
  src/modules/OrderTableBody/OrderTableBody.jsx
  src/modules/TableStatusCell/TableStatusCell.jsx
  src/pages/MainPage.jsx
  src/store/slices/orders/orders.js
  src/store/slices/orders/ordersSelector.js
Due: eslint --fix

remove css height table
  src/pages/MainPage.module.css
  src/shared/TableBody/TableBody.module.css
  src/shared/TableRow/TableRow.module.css
Due: prettier --write

change in StatusCell
  src/modules/TableStatusCell/TableStatusCell.jsx
  src/modules/TableStatusCell/TableStatusCell.module.css
Due: prettier --write, eslint --fix

modified filtering, sorting, pagination
  .eslintrc.json
  src/mock/mock.js
  src/modules/Filter/Filter.jsx
  src/modules/FilterDate/FilterDate.jsx
  src/modules/FilterStatus/FilterStatus.jsx
  src/modules/FilterSum/FilterSum.jsx
  src/modules/OrderTableBody/OrderTableBody.jsx
  src/modules/OrderTableFooter/OrderTableFooter.jsx
  src/modules/OrderTableFooter/OrderTableFooter.module.css
  src/modules/OrderTableHeader/OrderTableHeader.jsx
  src/modules/OrderTablePagination/OrderTablePagination.jsx
  src/modules/OrderTablePagination/OrderTablePagination.module.css
  src/modules/OrderTableRow/OrderTableRow.jsx
  src/shared/TableHeaderCell/TableHeaderCell.jsx
  src/shared/TableHeaderCell/TableHeaderCell.module.css
  src/store/slices/filters/filterSelector.js
  src/store/slices/filters/filterSlice.js
  src/store/slices/orders/orderSlice.js
  src/store/slices/orders/orders.js
  src/store/slices/orders/ordersSelector.js
Due: prettier --write, eslint --fix
